# Normalize line endings for text files
* text=auto eol=lf

# Windows-native scripts
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Setup for TOML files
*.toml linguist-detectable=true
*.toml linguist-documentation=false

# Excluded files from Packagist
/.gitattributes export-ignore
/.gitignore export-ignore
/.ls-lint.yaml export-ignore
/.typos.toml export-ignore
/CHANGELOG.md export-ignore
/composer.lock export-ignore
/CONTRIBUTING.md export-ignore
/justfile export-ignore
/oxfmt.config.ts export-ignore
/package.json export-ignore
/pnpm-lock.yaml export-ignore
/pnpm-workspace.yaml export-ignore
